/**
* Imports
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477DCA;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #DDD;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

body {
  background: #333; }

.l-header, .l-header .header {
  background-color: #333; }

li.cp-greengray {
  background-color: #7f8c8d; }

li.cp-pink {
  background-color: #b72898; }

li.cp-orange {
  background-color: #e04604; }

li.cp-green {
  background-color: #6a8500; }

li.cp-purple {
  background-color: #491f70; }

li.cp-turquoise {
  background-color: #02b4ce; }

li.cp-pomegranate {
  background-color: #c0392b; }

li.cp-seafoam {
  background-color: #16a085; }

li.cp-mustard {
  background-color: #c3a918; }

li.cp-surf-green {
  background-color: #02aab3; }

li.cp-maillot-jaune {
  background-color: #f0de16; }

li.cp-caribe {
  background-color: #a6c9d1; }

li.cp-chartreuse {
  background-color: #c8dc77; }

ul.theme-colors li {
  font-weight: bold;
  color: #fff;
  padding: 10px;
  margin: 0 0 1% 0;
  overflow: hidden; }
  ul.theme-colors li.dark {
    color: #4d4d4d; }

.panel-wrap {
  background-color: #fff; }

.l-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3%; }
  .l-container:after {
    content: "";
    display: table;
    clear: both; }
  .l-container .theme-colors li {
    padding: 2%; }
    @media screen and (min-width: 1025px)  {
      .l-container .theme-colors li {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .l-container .theme-colors li:last-child {
          margin-right: 0; }
        .l-container .theme-colors li:nth-child(3n) {
          margin-right: 0; }
        .l-container .theme-colors li:nth-child(3n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1024px)  {
      .l-container .theme-colors li {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .l-container .theme-colors li:last-child {
          margin-right: 0; }
        .l-container .theme-colors li:nth-child(2n) {
          margin-right: 0; }
        .l-container .theme-colors li:nth-child(2n+1) {
          clear: left; } }
  .l-container.primary {
    padding: 20px 3%; }

.l-social li {
  display: inline-block; }
  .l-social li a {
    display: block;
    color: #fff;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 6px; }

.l-navigation.panel {
  background: #DDD; }

ul.nav {
  margin: 0;
  padding: 10px 0; }
  ul.nav li {
    display: inline-block; }

.branding a {
  line-height: inherit; }
  .branding a img {
    padding: 6px 0 0 0; }
    @media screen and (max-width: 767px)  {
      .branding a img {
        max-width: 100%; } }

footer {
  color: #fff; }
  footer .l-colophon {
    text-align: center; }

/**
* Design
*/
a {
  color: #e04604;
  text-decoration: none; }
  a:hover {
    color: #333; }
  footer a:hover {
    color: #e7e7e7; }

h1, h2, h3, h4 {
  color: #666666;
  margin: 0 auto 0.4em auto; }

.l-social li a {
  color: #fff; }
  .l-social li a.twitter {
    background-color: #00bfff; }
  .l-social li a.github {
    background-color: #4183c4; }
  .l-social li a.drupal {
    background-color: #0077c0; }
  .l-social li a.instagram {
    background-color: #3F729b; }
  .l-social li a.gplus {
    background-color: #d14836; }
  .l-social li a:hover {
    background-color: #333; }

.sliding-menu-button {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  cursor: pointer;
  font-size: 1em;
  position: relative;
  outline: none;
  padding: 10px 0; }
  .sliding-menu-button img {
    height: 1.3em; }

.sliding-menu-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  width: 220px;
  height: 100%;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 999999;
  -webkit-overflow-scrolling: touch; }
  .sliding-menu-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em; }
    .sliding-menu-content li a:hover {
      background-color: #e04604;
      color: #fff; }
  .sliding-menu-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.menu-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #333;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .menu-screen.is-visible {
    opacity: 0.5;
    visibility: visible; }

/*# sourceMappingURL=styles.css.map */