@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Cardo:400,700,400italic|Open+Sans:300italic,400italic,400,700,300);
/**
* Imports
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Cardo', serif;
font-family: 'Source Code Pro', ;
*/
/*
 * Variables
 */
/*
 * Base styles
 */
body {
  color: #333;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

/*
 * Typography
 */
.fixed, .node pre, .header-block pre, .node code, .header-block code {
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  line-height: 1.2; }

.quiet {
  font-color: #ccc; }

.loud, .bold, .node b, .header-block b, .node strong, .header-block strong {
  font-color: #000; }

.italic, .node i, .header-block i, .node em, .header-block em {
  font-style: italic; }

.bold, .node b, .header-block b, .node strong, .header-block strong {
  font-weight: 700; }

.h1, .node h1, .header-block h1, .node .h1, .header-block .h1, .h2, .node h2, .header-block h2, .node .h2, .header-block .h2, .h3, .node h3, .header-block h3, .node .h3, .header-block .h3, .h4, .node h4, .header-block h4, .node .h4, .header-block .h4, .h5, .node h5, .header-block h5, .node .h5, .header-block .h5, .h6, .node h6, .header-block h6, .node .h6, .header-block .h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

.h1, .node h1, .header-block h1, .node .h1, .header-block .h1, .h2, .node h2, .header-block h2, .node .h2, .header-block .h2 {
  line-height: 1.1; }

.h3, .node h3, .header-block h3, .node .h3, .header-block .h3, .h4, .node h4, .header-block h4, .node .h4, .header-block .h4 {
  line-height: 1.3; }

.h1, .node h1, .header-block h1, .node .h1, .header-block .h1 {
  font-size: 280%; }

.h2, .node h2, .header-block h2, .node .h2, .header-block .h2 {
  font-size: 220%; }

.h3, .node h3, .header-block h3, .node .h3, .header-block .h3 {
  font-size: 190%; }

.h4, .node h4, .header-block h4, .node .h4, .header-block .h4 {
  font-size: 170%; }

.h5, .node h5, .header-block h5, .node .h5, .header-block .h5 {
  font-size: 130%; }

.h6, .node h6, .header-block h6, .node .h6, .header-block .h6 {
  font-size: 100%; }

.block-margins, .node p, .header-block p, .node ul, .header-block ul, .node ol, .header-block ol, .node pre, .header-block pre {
  margin: 0 0 1em 0; }

.unordered-list, .node ul, .header-block ul {
  list-style-type: disc; }

.ordered-list, .node ol, .header-block ol {
  list-style: decimal; }

.node h1, .header-block h1, .node h1, .header-block h1, .node .h1, .header-block .h1 {
  margin: 0 0 0.5em 0; }
.node h2, .header-block h2, .node h2, .header-block h2, .node .h2, .header-block .h2 {
  margin: 0 0 0.5em 0; }
.node h3, .header-block h3, .node h3, .header-block h3, .node .h3, .header-block .h3 {
  margin: 0 0 0.5em 0; }
.node h4, .header-block h4, .node h4, .header-block h4, .node .h4, .header-block .h4 {
  margin: 0 0 0.5em 0; }
.node h5, .header-block h5, .node h5, .header-block h5, .node .h5, .header-block .h5 {
  margin: 0 0 0.5em 0; }
.node h6, .header-block h6, .node h6, .header-block h6, .node .h6, .header-block .h6 {
  margin: 0 0 0.5em; }

/*
 * Modifiers
 */
.float-left {
  float: left;
  margin-right: 1em; }

.float-right {
  float: right;
  margin-left: 1em; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.panel-wrap {
  background-color: #fff; }
  .panel-wrap.l-main {
    margin-bottom: 20px; }

.l-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3%; }
  .l-container:after {
    content: "";
    display: table;
    clear: both; }
  .l-container .theme-colors li {
    padding: 2%; }
    @media screen and (min-width: 1025px)  {
      .l-container .theme-colors li {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 31.7615656014%; }
        .l-container .theme-colors li:last-child {
          margin-right: 0; }
        .l-container .theme-colors li:nth-child(3n) {
          margin-right: 0; }
        .l-container .theme-colors li:nth-child(3n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1024px)  {
      .l-container .theme-colors li {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .l-container .theme-colors li:last-child {
          margin-right: 0; }
        .l-container .theme-colors li:nth-child(2n) {
          margin-right: 0; }
        .l-container .theme-colors li:nth-child(2n+1) {
          clear: left; } }
  .l-container.primary {
    padding: 20px 3%; }

.l-social li {
  display: inline-block; }
  .l-social li a {
    display: block;
    color: #fff;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 6px; }

.l-navigation.panel {
  background: #ccc; }

ul.nav {
  margin: 0;
  padding: 10px 0; }
  ul.nav li {
    display: inline-block; }

.branding a {
  line-height: inherit; }
  .branding a img {
    padding: 6px 0 0 0; }
    @media screen and (max-width: 767px)  {
      .branding a img {
        max-width: 100%; } }

.l-footer {
  color: #fff; }
  .l-footer .l-colophon {
    text-align: center; }

/**
* Design
*/
body {
  background: #333; }

.l-header, .l-header .header {
  background-color: #333; }

li.cp-greengray {
  background-color: #7f8c8d; }

li.cp-pink {
  background-color: #b72898; }

li.cp-orange {
  background-color: #e04604; }

li.cp-green {
  background-color: #6a8500; }

li.cp-purple {
  background-color: #491f70; }

li.cp-turquoise {
  background-color: #02b4ce; }

li.cp-pomegranate {
  background-color: #c0392b; }

li.cp-seafoam {
  background-color: #16a085; }

li.cp-mustard {
  background-color: #c3a918; }

li.cp-surf-green {
  background-color: #02aab3; }

li.cp-maillot-jaune {
  background-color: #f0de16; }

li.cp-caribe {
  background-color: #a6c9d1; }

li.cp-chartreuse {
  background-color: #c8dc77; }

ul.theme-colors li {
  font-weight: bold;
  color: #fff;
  padding: 10px;
  margin: 0 0 1% 0;
  overflow: hidden; }
  ul.theme-colors li.dark {
    color: #4d4d4d; }

.link, a {
  color: #e04604;
  text-decoration: none; }
  .link:visited, a:visited {
    color: #e04604; }
  .link:hover, a:hover, .link:visited:hover, a:visited:hover {
    color: #333;
    text-decoration: underline; }

.l-footer a:hover {
  color: #d6d6d6; }

h1, h2, h3, h4, h5, h6 {
  color: #666666; }
  .l-footer h1, .l-footer h2, .l-footer h3, .l-footer h4, .l-footer h5, .l-footer h6 {
    color: #cccccc; }

.l-social li a {
  color: #fff; }
  .l-social li a.twitter {
    background-color: #00bfff; }
  .l-social li a.github {
    background-color: #4183c4; }
  .l-social li a.drupal {
    background-color: #0077c0; }
  .l-social li a.instagram {
    background-color: #3F729b; }
  .l-social li a.gplus {
    background-color: #d14836; }
  .l-social li a:hover {
    background-color: #333; }

.sliding-menu-button {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  outline: none;
  padding: 10px 0;
  float: right; }

.sliding-menu-content {
  position: fixed;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 0px;
  width: 220px;
  height: 100%;
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background: #404040;
  z-index: 999999;
  -webkit-overflow-scrolling: touch; }
  .sliding-menu-content li a {
    border-bottom: 1px solid #333;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1em; }
    .sliding-menu-content li a:hover {
      background-color: #e04604;
      color: #fff; }
  .sliding-menu-content.is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.menu-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #333;
  opacity: 0;
  visibility: hidden;
  z-index: 999998; }
  .menu-screen.is-visible {
    opacity: 0.5;
    visibility: visible; }
