body {
  background: #ccc;
}

// @each loop for each color in the palette.
@each $color in map-keys($palette) {
  $hexvar: map-get($palette, $color);
  li.cp-#{$color} {
    background-color: $hexvar;
  }
}