body {
  background: #ccc;
}

// @each loop for each color in the palette.
@each $color in map-keys($palette) {
  $hexvar: map-get($palette, $color);
  li.cp-#{$color} {
    background-color: $hexvar;
  }
}

ul.theme-colors {
  li {
    font-weight: bold;
    color: $white;
    padding: 10px;
    margin: 0 0 1% 0;
    overflow: hidden;
    &.dark {
      color: darken($medium_gray, 30%);
    }
  }
}