/**
* Design
*/


body {
  background: $dark_gray;
}

.l-header {
  background-color: $dark_gray;
  .header {
    @extend .l-header;
  }
}

// @each loop for each color in the palette.
@each $color in map-keys($palette) {
  $hexvar: map-get($palette, $color);
  li.cp-#{$color} {
    background-color: $hexvar;
  }
}

ul.theme-colors {
  li {
    font-weight: bold;
    color: $white;
    padding: 10px;
    margin: 0 0 1% 0;
    overflow: hidden;
    &.dark {
      color: darken($medium_gray, 30%);
    }
  }
}

a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: $dark_gray;
  }
  .l-footer & {
    &:hover {
      color: lighten($light-gray, 4);
    }
  }
}

h1,
h2,
h3,
h4 {
  color: darken($medium_gray, 20%);
  margin: 0 auto .4em auto;
  .l-footer & {
    color: lighten($medium_gray, 20%);
  }
}


// Social links.
.l-social li {
  a {
    color: $white;
    &.twitter {
      background-color: #00bfff;
    }
    &.github {
      background-color: #4183c4;
    }
    &.drupal {
      background-color: #0077c0;
    }
    &.instagram {
      background-color: #3F729b;
    }
    &.gplus {
      background-color: #d14836;
    }
    &:hover {
      background-color: $dark_gray;
    }
  }
}