// Layouts

.panel-wrap {
  background-color: $white;
}

// Main layout.
.l-container {
  @include outer-container;
  @include pad(0 3%);
  @include media($tab_end) {
  }
  .theme-colors li {
    @include pad(2%);
    @include media($desk) {
      @include span-columns(4);
      @include omega(3n);
    }
    @include media($tab_range) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
  &.primary {
    @include pad(20px 3%);
  }
}

// Social links.
.l-social li {
  display: inline-block;
  a {
    display: block;
    color: $white;
    @include margin(0 10px 0 0);
    @include pad(6px);
  }
}

// Nav.

.l-navigation.panel {
  background: $light-gray;
}

ul.nav {
  margin: 0;
  @include pad(10px 0);
  li {
    display: inline-block;
    a {
    }
  }
}

.branding {
  a {
    line-height: inherit;
    img {
      @include pad(6px 0 0 0);
      @include media($mobile) {
        max-width: 100%;
      }
    }
  }
}

footer {
  color: $white;
  .l-colophon {
    text-align: center;
  }
}




